<ion-header id="header" no-shadow no-border>
    <section class="wrapper">
        <div class="w2-18">
            <section class="grid-wrapper grid-col-3">
                <button ion-button class="arrow-left" (click)="goback()">
                    <img src="../../assets/icons/arrow-left.png"/>
                    <span>Back</span>
                </button>

                <div class="header-title flex-wrapper">
                   <!-- <span>Agent</span> -->
                </div>

                <div class="profile-icon profile-icon-right" [routerLink]="['/profile']">
                    <img [src]="account.data.profileimage"/>
                </div>
            </section>
        </div>
    </section>
</ion-header>

<ion-content id="content-section">

    <div class="flex-wrapper flex-center">
        <div class="wrapper">
          <div class="w2-18 flex-wrapper root">
            <div class="page-wrapper">
                <div class="flex-wrapper flex-column page-wrapper-inner">
                    <div class="intro-text">
                        <h1> Agent Portal.</h1>
                        <p> Here you can liquidate and generate vouchers and transfer as an agent.</p>
                      
                        <div class="intro-form grid-wrapper grid-col-1 move-down">
                            <!-- plans list -->
                            <div class="stacked-lists grid-wrapper grid-col-1">
                               <div class="stacked-list flex-wrapper" [routerLink]="['/agent-liquidate']" *ngIf="isAgent == true">
                                 <span class="icon">
                                   <img src="../../assets/icons/user-7.png">
                                 </span>
                                 <span class="text">Liquidate a voucher</span>
                               </div>
     
                               <div class="stacked-list flex-wrapper" [routerLink]="['/generate-vouchers']" *ngIf="isAgent == true">
                                   <span class="icon">
                                     <img src="../../assets/icons/user-7.png">
                                   </span>
                                   <span class="text">Generate vouchers</span>
                               </div>
     
                               <div class="stacked-list flex-wrapper" [routerLink]="['/report']" *ngIf="isAgent == true">
                                   <span class="icon">
                                     <img src="../../assets/icons/user-7.png">
                                   </span>
                                   <span class="text">Report</span>
                               </div>

                               <div class="stacked-list flex-wrapper" [routerLink]="['/agent-transfer']" *ngIf="isAgent == true">
                                <span class="icon">
                                  <img src="../../assets/icons/user-7.png">
                                </span>
                                <span class="text">3rd party transfer</span>
                               </div>
     
                               <div class="stacked-list flex-wrapper" (click)="agentRequest()" *ngIf="isAgent == false">
                                   <span class="icon">
                                     <img src="../../assets/icons/user-7.png">
                                   </span>
                                   <span class="text">Request to be an agent</span>
                               </div>
                           </div>
                         </div>
                    </div>
                 </div>
            </div>
          </div>
        </div>
    </div>
</ion-content>

<app-footer></app-footer>