<ion-header id="header" no-shadow no-border>
    <section class="wrapper">
        <div class="w2-18">
            <section class="grid-wrapper grid-col-3">
                <button ion-button class="arrow-left" (click)="goback()">
                  <img src="../../assets/icons/arrow-left.png"/>
                  <span>Back</span>
                </button>

                <div class="header-title flex-wrapper">
                   <!-- <span>Pin Reset</span> -->
                </div>
            </section>
        </div>
    </section>
</ion-header>
<ion-content id="content-section">
    <div class="flex-wrapper flex-center">
        <div class="wrapper">
          <div class="w2-18 flex-wrapper root">
            <div class="page-wrapper">
                <div class="flex-wrapper flex-column page-wrapper-inner">
                    <div class="intro-text">
                        <h1>Reset your Pin.</h1>
                        <p>Your new pin would be activated after a confirmation. Please proceed with the form below.</p>
                        
                        <div class="intro-form move-down">
                                <section class="input-wrapper">
                                    <label>Old Pin</label>
                                    <input type="password" inputmode="numeric" pattern="[0-9]*" placeholder="Your old pin" [(ngModel)]="oldpin"/>
                                </section>
         
                                <section class="input-wrapper">
                                   <label>New Pin</label>
                                   <input type="password" inputmode="numeric" pattern="[0-9]*" placeholder="Your new pin" [(ngModel)]="newpin"/>
                               </section>
         
                               <section class="input-wrapper">
                                   <label>New Pin Again</label>
                                   <input type="password" inputmode="numeric" pattern="[0-9]*" placeholder="Confirm new pin" [(ngModel)]="newpinagain"/>
                               </section>
           
                                <section class="button-group">
                                   <button ion-button type="submit" class="btn-full" (click)="change()"><span>reset pin</span></button>
                                </section>

                        </div>
                    </div>
                 </div>
            </div>
          </div>
        </div>
    </div>
  </ion-content>
  
  <app-footer></app-footer>