<ion-header id="header" no-shadow no-border>
    <section class="wrapper">
        <div class="w2-18">
            <section class="grid-wrapper grid-col-3">
                <button ion-button class="arrow-left" (click)="goback()">
                  <img src="../../assets/icons/arrow-left.png"/>
                  <span>Back</span>
                </button>

                <div class="header-title flex-wrapper">
                   <span></span>
                </div>
            </section>
        </div>
    </section>
</ion-header>
<ion-content id="content-section">
    <div class="flex-wrapper flex-center">
        <div class="wrapper">
          <div class="w2-18 flex-wrapper root">
            <div class="page-wrapper">
                <div class="flex-wrapper flex-column page-wrapper-inner">
                    <div class="intro-text">
                        <h1>You are in a good company.</h1>
                        <p class="text-spaced">
                            EsusuOnline is a savings platform developed by Consumer Microfinace Bank Limited for Low income savers. Our mission is to expand access to savings and lower the cost of savings to millions of people that traditional banks are unable to serve. Everything we do is for the people. 
                        </p>

                        <div class="ceo-stack flex-wrapper">
                          <img src="../../assets/images/ceo.png"/>
                          <div class="ceo-info flex-wrapper flex-column">
                             <h1>Azubuike Asomonye</h1>
                             <span>CEO/Founder.</span>
                          </div>
                        </div>
                    </div>
                 </div>
            </div>
          </div>
        </div>
    </div>
  </ion-content>
  
  <app-infobar></app-infobar>