<ion-header id="header" no-shadow no-border>
    <section class="wrapper">
        <div class="w2-18">
            <section class="grid-wrapper grid-col-3">
                <button ion-button class="arrow-left" (click)="goback()">
                  <img src="../../assets/icons/arrow-left.png"/>
                  <span>Back</span>
                </button>

                <div class="header-title flex-wrapper">
                   <!-- <span>Recovery</span> -->
                </div>
            </section>
        </div>
    </section>
</ion-header>
<ion-content id="content-section">
    <div class="flex-wrapper flex-center">
        <div class="wrapper">
          <div class="w2-18 flex-wrapper root">
            <div class="page-wrapper">
                <div class="flex-wrapper flex-column page-wrapper-inner">
                    <div class="intro-text">
                        <h1>Reset your password.</h1>
                        <p>A link would be sent to your mail, please proceed with the form below.</p>

                        <div class="intro-form move-down">
                                <section class="input-wrapper" *ngIf="useappfooter == false">
                                    <label>Email or Phone</label>
                                    <input type="text" placeholder="Your Username" [(ngModel)]="email"/>
                                </section>
         
                                <section class="input-wrapper">
                                   <label>Security answer</label>
                                   <input type="text" placeholder="Your security answer" [(ngModel)]="securityAnswer"/>
                               </section>
           
                                <section class="button-group">
                                   <button ion-button class="btn-full" type="submit" (click)="reset()"><span>reset</span></button>
                                   <button ion-button class="btn-outline" *ngIf="useappfooter == false" (click)="goto('/home')"><span>login or register</span></button>
                                </section>
                             </div>
                    </div>
        
                    
                 </div>
            </div>
          </div>
        </div>
    </div>
  </ion-content>
  
  <app-infobar *ngIf="useappfooter == false"></app-infobar>
  <app-footer *ngIf="useappfooter == true"></app-footer>