<ion-header id="header" no-shadow no-border>
    <section class="wrapper">
        <div class="w2-18">
            <section class="grid-wrapper grid-col-3">
                <button ion-button class="arrow-left" (click)="goback()">
                    <img src="../../assets/icons/arrow-left.png"/>
                    <span>Back</span>
                </button>
  
                <div class="header-title flex-wrapper">
                </div>
  
                <div class="profile-icon profile-icon-right" [routerLink]="['/profile']">
                    <img [src]="account.data.profileimage"/>
                </div>
            </section>
        </div>
    </section>
  </ion-header>
  
  <ion-content id="content-section">
    <div class="flex-wrapper flex-center">
      <div class="wrapper">
        <div class="w2-18 flex-wrapper root">
          <div class="page-wrapper">
              <div class="flex-wrapper flex-column page-wrapper-inner">
                  <div class="intro-text">
                      <h1>Liquidate a voucher</h1>
                      <p>Please provide the voucher pin, customer phone number and serial number to proceed.</p>
                  
                      <div class="intro-form move-down">
                            <section class="input-wrapper">
                                <label>Serial Number</label>
                                <input type="tel" pattern="[0-9]*" placeholder="Valid voucher serial number" [(ngModel)]="formpack.SerialNumber"/>
                            </section>
       
                            <section class="input-wrapper">
                               <label>Voucher Code</label>
                               <input type="tel" pattern="[0-9]*" placeholder="Valid voucher code" [(ngModel)]="formpack.VoucherCode"/>
                            </section>
       
                            <section class="input-wrapper">
                                <label>Customer Phone</label>
                                <input type="tel" placeholder="Customer Phone number" [(ngModel)]="formpack.CustomersPhoneNo"/>
                             </section>

                             <section class="input-wrapper">
                                <label>Agent PIN</label>
                                <input type="password" inputmode="numeric" pattern="[0-9]*" placeholder="PIN" [(ngModel)]="formpack.PIN"/>
                             </section>

                             <section class="input-wrapper">
                                <label>Customer PIN</label>
                                <input type="password" inputmode="numeric" pattern="[0-9]*" placeholder="Customer PIN" [(ngModel)]="formpack.CustomersPIN"/>
                            </section>
       
                            <section class="button-group">
                               <button ion-button class="btn-full" type="submit" (click)="continue()"><span>Liquidate</span></button>
                            </section>
                         </div>
                  </div>
      
                  
               </div>
          </div>
        </div>
      </div>
  </div>
  </ion-content>
  
  <app-footer></app-footer>