<ion-header id="header" no-shadow no-border>
    <section class="wrapper">
        <div class="w2-18">
            <section class="grid-wrapper grid-col-3">
                <button ion-button class="arrow-left" (click)="goback()">
                  <img src="../../assets/icons/arrow-left.png"/>
                  <span>Back</span>
                </button>

                <div class="header-title flex-wrapper">
                   <!-- <span>Helpdesk</span> -->
                </div>
            </section>
        </div>
    </section>
</ion-header>
<ion-content id="content-section">
    <div class="flex-wrapper flex-center">
        <div class="wrapper">
          <div class="w2-18 flex-wrapper root">
            <div class="page-wrapper">
                <div class="flex-wrapper flex-column page-wrapper-inner">
                    <div class="intro-text">
                        <div class="img"></div>
                        <h1>Esusuonline helpdesk.</h1>
                        <p>You can leave a feedback, contact us or find relevant information to help you get started.</p>
                    </div>
        
                    <div class="intro-form">
                        <div class="savings-plan-top">
                            <span>Hi, how may we be of help?</span>
                        </div>

                        <div class="stacked-lists grid-wrapper grid-col-1">
                            <div class="stacked-list flex-wrapper">
                              <span class="icon">
                                <img src="../../assets/icons/note.png">
                              </span>
                              <span class="text">Read our FAQs</span>
                            </div>

                            <div class="stacked-list flex-wrapper" [routerLink]="['/aboutus']">
                                <span class="icon">
                                  <img src="../../assets/icons/note.png">
                                </span>
                                <span class="text">Learn more about us</span>
                            </div>

                            <div class="stacked-list flex-wrapper" [routerLink]="['/contactus']">
                                <span class="icon">
                                  <img src="../../assets/icons/note.png">
                                </span>
                                <span class="text">Contact us</span>
                            </div>

                            <div class="stacked-list flex-wrapper" [routerLink]="['/feedback']">
                                <span class="icon">
                                  <img src="../../assets/icons/note.png">
                                </span>
                                <span class="text">Leave us a feedback</span>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
          </div>
        </div>
    </div>
  </ion-content>
  
  <app-infobar></app-infobar>