<ion-header id="header" no-shadow no-border>
    <section class="wrapper">
        <div class="w2-18">
            <section class="grid-wrapper grid-col-3">
                <button ion-button class="arrow-left" (click)="goback()">
                    <img src="../../assets/icons/arrow-left.png"/>
                    <span>Back</span>
                </button>
  
                <div class="header-title flex-wrapper">
                   <!-- <span>Deposit</span> -->
                </div>
  
                <div class="profile-icon profile-icon-right" [routerLink]="['/profile']">
                    <img [src]="account.data.profileimage"/>
                </div>
            </section>
        </div>
    </section>
  </ion-header>
  
  <ion-content id="content-section">
    <div class="flex-wrapper flex-center">
      <div class="wrapper">
        <div class="w2-18 flex-wrapper root">
          <div class="page-wrapper">
              <div class="flex-wrapper flex-column page-wrapper-inner">
                  <div class="intro-text">
                      <h1>Deposit via card</h1>
                      <p>Please enter the amount you wish to credit your wallet with to proceed.</p>
                  
                      <div class="intro-form move-down">

                            <section class="input-wrapper">
                                <label>Card Payment Option</label>
                                <ion-select placeholder="Please choose a payment option" [(ngModel)]="formpack.option">
                                        <ion-select-option value="card">Card One time</ion-select-option>
                                        <ion-select-option value="cardMonthly">Card Monthly</ion-select-option>
                                        <ion-select-option value="recurrent">Card Recurrent</ion-select-option>
                                </ion-select>
                            </section>

                            <section class="input-wrapper">
                                <label>Amount</label>
                                <input type="number" placeholder="Minumum ₦100" [(ngModel)]="formpack.amount"/>
                            </section>
         
                            <section class="button-group">
                               <button ion-button type="submit" class="btn-full" (click)="fund()"><span>Fund</span></button>
                            </section>
                      </div>

                    </div>
                    
                  
               </div>
          </div>
        </div>
      </div>
  </div>
  </ion-content>
  
  <app-footer></app-footer>