@font-face{
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-family: 'Roboto';
}

@font-face{
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-family: 'RobotoBold';
}

@font-face{
    src : url('../fonts/OpenSans/OpenSans-Regular.ttf');
    font-family: 'OpenSans';
}

@font-face{
    src : url('../fonts/OpenSans/OpenSans-Bold.ttf');
    font-family: 'OpenSansBold';
}

body{font-family: 'Roboto'; font-size: 16px;}
*{font-family: 'Roboto';}
h1,h2,h3,h4{font-family: 'OpenSans' !important; color: #0036D3;}
.root{height: 100vh;}

/* intro-text */
.intro-text h1{
    font-size: 2.5rem !important;
    line-height: 44px;
}

.intro-text p{
line-height: 24px;
}

.page-wrapper{height: 100%; flex: 1; justify-content: space-around;}
.page-wrapper-inner{
    flex: 1;
    justify-content: space-between;
    height: 100%;
    padding-top: 12vh;
    padding-bottom: 5vh;
}
.page-wrapper-register{
    flex: 1;
    justify-content: space-between;
    height: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
/* intro form */
.intro-form .input-wrapper{margin-bottom: 25px;}
.intro-form .input-wrapper:last-child{margin-bottom: 0px;}

/* input */
.input-wrapper{display: flex; flex-direction: column; justify-content: space-between; height: 70px;}
.expand-wrapper{height: 100px !important;}
.input-wrapper input, .input-wrapper textarea{border: none; border-bottom: 1px solid #0036D3; background-color: transparent;
padding: 15px; padding-left: 0px; padding-right: 0px;
color: #0036D3; flex: 1; width: 100%;}
.input-wrapper textarea{height: 100px;}
.input-wrapper select::-ms-expand{display: none;}
.input-wrapper ion-select{
    background-repeat: no-repeat; background-position: 98%; 
    background-size: 20px; border: none; border-bottom: 1px solid #0036d3; 
    background-color: transparent; color: #0036D3; padding-left: 0px;}
.input-wrapper input::placeholder, .input-wrapper textarea::placeholder{color: #0036D3; opacity: 1;}
.input-wrapper label{font-size: 16px;}

/* button */
.button-group{display: flex; flex-direction: column; justify-content: space-between;
min-height: 70px; margin-top: 25px;}
.button-group button{height: 60px; border-radius: 30px !important;
display: flex; justify-content: center; align-content: center;
font-size: 16px; margin-bottom: 15px;}
.button-group button:last-child{margin-bottom: 0px;}
.button-group button span{display: block; flex: 1; margin: auto;}
.btn-full{background: #0036D3 !important; color: #fff; border: none;}
.btn-outline{color: #0036D3; border: 1px solid #0036D3;
background: none;}
.btn-outline-white{color: #fff; border-color: #fff;}

/* error text */
.error-wrapper{position: relative; top: 0; left: 0;}
.error-wrapper .text{color:#f20; font-size: 12px; position: absolute; right: 0; top: 0;}


/* shakeform */
.shakeform{animation: shake 0.5s ease-in-out 1 0s; transition: transform 0.5s ease-in-out;}
@keyframes shake{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-3deg);}
    50%{transform: rotate(3deg);}
    75%{transform: rotate(-3deg);}
    100%{transform: rotate(0deg);}
}
input.shakeform{border-bottom: 1px solid #f20; color: #f20;}

/* header */
.header-title{align-content: center; justify-content: center;}
.header-title span{font-size: 16px;}
#header{padding-top: 0px; transition: transform 0.5s linear; background: #E7E7E7;}
#header > .wrapper:first-child{padding-top: 15px;}
/* arrow left */
.arrow-left{display: flex; border: none; background: none;
    width: 80px; padding: 0; align-items: center;
    justify-content: flex-start; margin-left: -3px;}
.arrow-left img{width: 30px; height: 24px; margin-left: -5px;}
.arrow-left span{
    font-size: 16px;
margin-left: 0px;
font-family: 'OpenSans';
color: #000;
}

/* animate up */
.animate-up{transform: translateY(-100px);}

/* Dashboard */
.profile-icon img{width: 30px; height: 30px; border-radius: 50%;}

/* menu */
.menu-pan{position: fixed; bottom: 0; height: 490px; left: 0;
z-index: 9999; background: #E7E7E7; width: 100%;
transition: transform 0.4s ease-in-out;
transform-origin: bottom; transform: translateY(600px);
padding-bottom: 10px; box-shadow: 0px -10px 10px #E7E7E7;}
.closeMenu{transform: translateY(600px) !important;}
.showpan{transform: translateY(0px);}
.close-button{width: 50px; height: 50px; border-radius: 50%;
background: #0036D3; align-self: flex-end; border: 5px solid #E7E7E7;}
.close-button img{width: 15px; height: 15px; margin: auto;}
.pan-close{position: relative; top: 0; left: 0; }
.close-text{
position: absolute;
bottom: -20px;
font-size: 14px;
color: #0036D3;
right: 7px;
z-index: 10;
}
.pan-wrapper{position: relative; right: 0; top: 0;}
.pan-wrapper-inner{
position: fixed;
top: -28px;
right: 5%;
z-index: 99;
}
.menu-pan-header{position: fixed; width: 100%; background: #E7E7E7;}
.pan-wrapper-inner2 {
    position: absolute;
    top: -29px;
    right: 0;
}
.pan-wrapper-inner2 .close-button img {
    width: 25px;
    height: 23px;
}

.pan-wrapper-inner2 .close-text {
    bottom: -17px;
    font-size: 12px;
    color: #000;
    right: 10px;
}
.close-button{cursor: pointer;}
.close-button:hover{cursor: pointer;}
.menu-pan-header{padding-top: 12px; padding-bottom: 11px;}
.pan-title{color: #0036D3; font-family: 'Roboto'; font-size: 16px;}

/* menu-list */
.menu-pan-body {
    grid-gap: 12px;
    margin-top: 50px;
}
.menu-list{background: #fff; width: 100%; height: 125px;
    border-radius: 9px;
box-shadow: 0px 10px 10px rgba(0,0,0,0.1);}
.menu-list{cursor: pointer; display: flex; justify-content: center; align-content: center;}
.menu-list img{width: 45px; height: 47px; align-self: center; margin-bottom: 13px;}
.menu-list-text{color: #0036D3; font-size: 14px; white-space: nowrap; text-align: center;}
.menu-list:hover{cursor: pointer;}
.menu-pan-footer{
justify-content: center; align-content: center; font-size: 14px; color: #0036D3;}
.menu-pan-footer img{
    width: 20px;
    height: 10px;
    margin-left: 10px;}
.menu-pan-center{padding-top: 15px;}

/* footer */
#ioncontent .wrapper{background-color: #E7E7E7;}
#footer{background-color: transparent; height: 46px;
transition: transform 0.4s ease-in-out; transform-origin: top;
transform: translateY(0px);}
.hidefooter{transform: translateY(100px) !important;}
.dashboard-header{height: 45vh; background: #0036D3; width: 100%;
padding-top: 30px;}
#ion-balance-slides{transition: background 1s ease-in-out; width: 89vw;
height: 165px;}
.slide-balance{height: 140px; justify-content: space-between; background: #fff;
border-radius: 10px; padding: 20px; width: 100%;}
.slide-balance .caption-title{text-transform: uppercase; font-size: 10px; opacity: 0.5;
text-align: left; align-self: flex-start; letter-spacing: 0.40px;}
.slide-balance .caption-sub{font-size: 14px; text-align: left; align-self: flex-start;
margin-top: 5px;}
.balance .amount{align-self: flex-start; text-align: left; font-size: 27px;
font-family: 'RobotoBold'; margin-top: 2px;}
.slide-title{align-self: flex-start; flex: 1; text-align: right;
color: #0036D3; font-size: 14px;}
.addblur{filter: blur(100px) !important;}
#content-section{filter: blur(0px); transition: filter 0.4s ease-in-out;}
.dashboard-header .intro-text, .dashboard-header .intro-text h3{color: #fff;
margin: 0; padding: 0;}
.dashboard-header .intro-text span{font-size: 14px;}
.dashboard-header .intro-text h3{font-family: 'RobotoBold' !important; font-size: 16px;
padding-top: 4px;}
.dashboard-header .profile-section img{width: 50px; height: 50px; border-radius: 50%;
border: 4px solid #fff; margin-right: 10px; object-fit: cover;}
.dashboard-header .intro{align-items: center;}
.dashboard-header .profile-section {margin-bottom: 20px;}
.swiper-slide{width: 100%;}
.swiper-wrapper{width: 100%; justify-content: space-between; margin-top: -10px;}
#ion-balance-slides .swiper-pagination{bottom: 15% !important; }
#ion-balance-slides .swiper-pagination-bullet-active{background: #0036D3;}
.relative{position: relative; top: 0; left: 0; width: 100%; height: 100%;}
.shortcuts-header{width: 100%; height: 60px; background: #fff; border-radius: 10px;
position: absolute; bottom: -34px;
box-shadow: 0px 10px 10px rgba(0,0,0,0.1);}

/* shortcut icon */
.shortcuts-icon{display: flex; flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.shortcuts-icon:hover{cursor: pointer; background-color: rgba(0,0,0,0.05);}
.shortcuts-icon img{width: 26px; height: 26px;}
.shortcuts-icon span{font-size: 12px;}
.shortcuts-icon:first-child:hover{border-bottom-left-radius: 10px;}
.shortcuts-icon:last-child:hover{border-bottom-right-radius: 10px;}

/* statistics */
.stat-container{height: 30vh; justify-content: space-between;}
.savings-bar{height: 2px; background: #0036D3; align-self: end; 
    transition: height 0.7s linear; transform-origin: bottom;}
.expenses-bar{height: 2px; background: #F0B50E; align-self: end; transition: height 0.7s linear;
transform-origin: bottom;}
.stat-body{grid-gap: 20px;}
.statistics{margin-top: 57px;}
.stat-bar-info{align-items: center; justify-content: center;}
.stat-bar-info .bar{height: 40px; width: 15px; background: #0036D3; margin-right: 15px;}
.stat-bar-info .info{justify-content: space-between;}
.stat-bar-info:last-child .bar{background: #F0B50E; }
.stat-bar-info .info-title{font-size: 14px; opacity: 0.7;}
.stat-title span{font-size: 16px;}
.statistics .info-amount{margin-top: 4px;}
.stat-bar-info{position: relative; top: 0; left: 0; overflow: hidden;}
.stat-bar-wrapper{transform-origin: bottom; transition: all 0.7s ease-in-out;
transform: translateY(50px); opacity: 0;}
.stat-bar-wrapper.reveal{transform: translateY(0px); opacity: 1;}

/* transactions */
.transactions{justify-content: center; align-items: center; margin-top: 45px;}
.transactions-wrapper{display: flex; justify-content: center; align-items: center; font-size: 16px; cursor: pointer;}
.transactions-wrapper img{width: 20px; height: 10px; margin-left: 10px;}
.transactions-wrapper:hover{cursor: pointer;}
.profile-icon-right{display: flex; align-items: right; justify-content: flex-end;}
.profile-icon-right img{border: 2px solid #fff; align-self: flex-end;}

/* savings plans */
.savings-plan-top{display: flex; justify-content: space-between; margin-top: 34px;}
.savings-plan-top span{opacity: 0.8; font-size: 14px;}
.savings-plan-top .viewall{align-self: flex-end;}

/* savings list */
.savings-plan-list{margin-top: 8px; width: 95vw; overflow: scroll;}
.savings-plan-wrapper{width: 10000px; overflow: scroll; display: block;}
.add.icon, .savings-list .image.icon{background: #fff; color: #fff; width: 50px; height: 50px;
border-radius: 50%; margin-right: 10px; display: flex; justify-content: center; align-items: center;}
.savings-list .image.icon{background: #0036D3;}
.add.icon img, .savings-list .image.icon img{width: 20px; height: 20px;}
.savings-list{display: flex; justify-content: center; align-items: center;
width: 160px; height: 90px; margin-right: 10px;}
.savings-list{background: #fff; border-radius: 10px;}
.savings-list.add-new{background: #0036D3;}
.savings-list.add-new .text-big{color: #fff; font-size: 14px;}
.savings-list{float: left;}
.text-wrapper{display: flex; flex-direction: column;}
.text-wrapper .text-big{font-size: 14px;}
.text-wrapper span:last-child{margin-top: 5px;}
.text-wrapper .text-sub{font-size: 10px; opacity: 0.6;}

/* ionic content */
.ion-page{background: #E7E7E7;}

/* fund form */
.fund-form{background: transparent; height: 110px; margin-top: 60px;}
.fund-form-inner{background: #0036D3; border-radius: 10px; height: 90px;
width: 100%; margin-top: -50px;}
.fund-form-desc{grid-gap: 20px; margin-top: -6px;}
.fund-form-desc input{border: none; color: #0036D3; font-size: 16px;
padding-bottom: 10px; padding-top: 10px; border-bottom: 1px solid #0036D3;}
.fund-form-desc input::placeholder{color: #0036D3; opacity: 1;}
.fund-form-desc button{border: 1px solid #0036D3; color: #0036D3; border-radius: 20px;
background: none; padding: 10px; font-size: 16px; width: 90px; height: 40px;
align-self: flex-end;}
.fund-form-desc .input-wrapper{display: flex; justify-content: flex-end; padding-left: 14px;}
.fund-form-desc .button-wrapper{display: flex; align-items: flex-end; justify-content: flex-end; padding-right: 14px;}
.fund-form-inner{padding-left: 15px; padding-right: 15px; align-items: center;}
.fund-form-inner .input-wrapper2{display: flex; align-items: flex-end; justify-content: flex-end;}
.fund-form-inner .text-beneath{color: #fff; opacity: 0.5; font-size: 12px; margin-top: -4px;}
.fund-form-inner .select-wrapper{display: flex; flex-direction: column; justify-content: flex-end;}
.fund-form-inner .input-wrapper2 .input-wrapper-inner{max-width: 107px; display: flex; flex-direction: column; align-items: flex-end;}
.fund-form-inner .input-wrapper2 .input-wrapper-inner input{color: #fff; border: none; background: transparent; font-size: 24px;
width: 100%; text-align: right;}
.fund-form-inner .input-wrapper2 .input-wrapper-inner input::placeholder{opacity: 1; color: #fff;}
.fund-form-inner .select{padding-left: 0px;color: #fff !important; opacity: 1 !important;
padding-bottom: 0px; height: 35px;}
.fund-form-inner .select-text{opacity: 1 !important; color: #fff !important;}
.fund-form-inner .select-icon-inner{opacity: 1 !important;}
.footer-md::before, 
.footer-ios::before{background: none;}

/* Transactions */
.transaction-list-body{align-items: center; margin-top: 10px; border-bottom: 1px solid #ddd; padding-bottom: 13px;}
.transaction-list-body:last-child{border: none;}
.transaction-list-date{display: flex; flex-direction: column; font-size: 17px; font-family: 'OpenSans'; line-height: 19px;}
.transaction-list-amount{text-align: right; font-size: 14px;}
.transaction-list-amount .good, .transaction-list-info-footer .good{color: #09bf10;}
.transaction-list-amount .bad, .transaction-list-info-footer .bad{color: #f20;}
.transaction-list-info{grid-row-gap: 6px;}
.transaction-list-info-footer span{margin-right: 15px; font-size: 14px; opacity: 0.6;}
.transaction-list-info-footer span:last-child{margin: 0px; display: flex; align-items: flex-start;}
.transaction-list-info-footer span:last-child img{width: 15px; height: 15px; margin-right: 5px;}
.transaction-list-wrapper{background: transparent; padding: 0px;margin-top: 11px;}
.transaction-list-header {
    color: #0036D3;
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: 38px;
}
.transaction-list-info-title{font-size: 16px;}
.transaction-list{margin-top: 20px;}

/* savings list */
.savings-plans{grid-gap: 15px; margin-top: 20px;}
.savings-plans .plan-list{height: 130px; border-radius: 16px; background-color: #0036D3;
display: grid; grid-template-columns: repeat(12, 1fr); 
background-image: url('../icons/piggy-bank.svg');
background-repeat: no-repeat;
background-size: 140px;
background-position: -28px;
padding-left: 16px;
box-shadow: 0px 8px 10px rgba(0,0,0,0.2);
}
.deposit-bg{background-image: url('../icons/wallet2.png') !important;}
.verify-bg{background-image: url('../icons/verify2.png') !important;}
.agent-bg{background-image: url('../icons/agent.png') !important;}

.savings-plans .plan-list:hover{cursor: pointer;}
.plan-list-info{grid-column: 1/10; color: #fff; }
.plan-list-info h1{color: #fff;
    font-size: 20px;
    padding-top: 10px;}
.plan-list-info p{font-size: 14px; line-height: 21px; letter-spacing: 0.2px;}
.plan-list-btn{display: flex; align-items: center; justify-content: center;}
.plan-list-btn img{width: 25px; height: 25px;}


/* savings info */
.balance-wrapper{justify-content: center; align-items: center; margin-top: 25px; margin-bottom: 17px;}
.balance-wrapper .balance-digit{font-size: 43px; font-family: 'RobotoBold';}
.balance-wrapper .balance-text{font-size: 14px;}
.balance-wrapper .badge{padding: 5px; border-radius: 30px; color: #fff; margin-top: 5px;
font-size: 12px; text-align: center; padding-left: 10px;
padding-right: 10px;}
.badge.active{background: #09bf10;}
.badge.unactive{background: #db3113;}
.startendperiod-wrapper{background: #0036D3; color: #fff; margin-bottom: 4px; margin-top: 35px;
border-top-left-radius:43px;
border-top-right-radius: 43px;}
.startendperiod{
background: #fff;
color: #000;
padding: 15px;
grid-gap: 10px;
border-radius: 15px;
margin-top: -35px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-bottom: 42px;
}
.startendperiod .value{opacity: 0.8; font-size: 14px; white-space: nowrap;}


/* dashboard power */
.icon-power{align-items: center; justify-content: flex-end; display: flex;}
.icon-power img{width: 24px !important; height: 24px !important; border: none !important;}
.icon-power img:hover{cursor: pointer;}
.learn-more{
color: #000;
font-size: 14px;
border-bottom: 0px solid #0036D3;
padding-bottom: 4px;
display: inline-block;
opacity: 1;
background-image: url('../images/info.png');
background-repeat: no-repeat;
background-size: 17px;
background-position: 3% top;
padding-left: 29px;
}
.learn-more:hover{cursor: pointer;}

/* table list */
.table-list{background: #fff; margin-top: 15px; margin-bottom: 30px;
grid-row-gap: 10px; padding-top: 10px; padding-bottom: 10px; align-items: baseline;}
.table-list span{border-bottom: 1px solid rgba(0,0,0,0.05);
padding: 5px; padding-bottom: 10px; line-height: 23px;
align-self: flex-end; color: #0036d3; padding-left: 15px; font-size: 14px;}
.table-list .table-text{color: #000; text-align: right; padding-right: 10px; font-size: 14px;}
.table-list .table-title.last{border: none !important;}
.table-list .table-text:last-of-type{border: none;}
.move-up{position: relative;top: -18px;}

.stacked-lists{margin-top: 15px; grid-row-gap: 20px;}
.stacked-list{padding: 18px; background: #fff; box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
align-items: center; padding-left: 22px;}
.stacked-list .icon{display: flex;}
.stacked-list img{width: 15px; height: 15px; margin-right: 15px;
align-self: center;}
.text-spaced{line-height: 31px !important; margin-top: 40px;}

/* ceo stack */
.ceo-stack{ margin-top: 30px;}
.ceo-stack img{width: 70px; height: 70px; border-radius: 50%;
align-self: center; margin-right: 15px;}
.ceo-info h1{
font-size: 18px !important;
font-weight: normal;
line-height: 11px !important;
}
.header-title span {
    font-family: 'OpenSans';
    align-self: center;
    white-space: nowrap;
}
.expand-top{margin-top: 100px;}

/* code inputs */
.code-inputs{justify-content: space-between; 
width: 100%; margin-bottom: 24px;}
.code-inputs input{
        width: 75px;
        height: 60px;
        font-size: 30px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
        border: none;
        border: none;
        color: #0036D3;
        background: transparent;
        border: 1px solid;
}
.activation-wrapper{text-align: center; justify-content: center; align-items: center;
padding-top: 0px !important; }
.activation-wrapper b{color: #0036D3; font-weight: normal;}
.activation-wrapper .learn-more{border-bottom: 1px solid #dadada;
padding-bottom: 5px;}

/* withdraw */
.fund-form-withdraw{height: auto !important; padding-bottom: 30px;}
.withdraw-question{display: block;text-align: center;width: 100%;padding-bottom: 10px;}
.fund-form-withdraw .text-beneath {
    margin-top: -1px !important;
}

.savings-plan-top2 span {
    font-size: 16px !important;
    color: #0036D3 !important;
    opacity: 1 !important;
}
.savings-plan-top2{margin-top: 30px;}

/* reset */
.move-up-more{position: relative; top: -100px;}

button, a , input, textarea, select, * {outline: none !important;}

/* profile page */
.profile-image{height: 250px; background-color: #0036D3;
position: relative; background-repeat: no-repeat; background-position: center;
background-size: cover; position: relative; top:0; width: 100%;}
.profile-page{background: transparent !important;}
.profile-image::after{width: 100%; height: 100%; position: absolute;
z-index: 10; content: ""; 
background: linear-gradient(0deg, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0));}
.profile-page-up{position: relative; top: -40px;}
.inverted span{color:#fff !important;}
.change-image{display: flex; width: 45px; height: 45px;
border-radius: 50%; box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
background: #0036D3; position: absolute; right: 0; bottom: -25px;
align-items: center; justify-content: center; z-index: 14;}
.change-image img{width:15px; height: 15px; }
.relative{position: relative; top: 0; left: 0; height: 100%; width: auto;}
.profile-name{display: flex; justify-content: center; align-items: flex-end;
    z-index: 14;}
.profile-name span{font-size: 32px; font-family: 'Roboto'; color: #fff; top:-40px; position: relative;
    overflow: hidden;
    max-width: 79%;
    white-space: nowrap;}
.icon-top{padding-top: 27px;}
.icon-top img{width: 25px; height: 25px;}
.block-row h1{font-size:16px;}
#header{z-index: 99;}
.block-row span{font-size: 14px; margin-top: -2px; color: #312c2c;}
.block-info .box-info-inner{border-bottom: 1px solid #d7d7d7; padding-bottom: 10px;}
.block-info{margin-top: 4px;}
.box-info-wrapper > .block-info:last-child .box-info-inner{border-bottom: none !important;}
.box-info-wrapper > .block-info:last-child{margin-top: 0px;}

/* loader */
.app-loader{position:fixed; top:0; left: 0; width: 100%; height: 100%; z-index: 999;
background: #0036D3; display: none; justify-content: center; align-items: center; flex:1;
flex-direction: column; opacity: 0;
transition: opacity 0.7s ease-in-out;}
.app-loader .loader-inner{display: flex; justify-content: center; align-content: center;
position: relative; top:0; left:0; width:50px; height: 50px; border-radius: 50%;}
.app-loader .loader-inner img{width: 35px; height: 35px; opacity: 0;
transform-origin: center;
object-fit: scale-down;
transform-box: fill-box;
transform-style: preserve-3d; align-self: center;
animation: comeAlive 1.5s linear infinite 0s;
-webkit-animation: comeAlive 1.5s linear infinite 0s;
-moz-animation: comeAlive 1.5s linear infinite 0s;
}
.app-loader .loader-inner .circle{position: absolute; left:0; top: 0; height: 100%; z-index: 10;
    width: 100%;
background: transparent; border-radius: 50%;
border-top: 2px solid #fff;
border-right: 2px solid transparent;
border-left: none;
border-bottom: none;
animation: roll 0.7s linear infinite 0s;
-webkit-animation: roll 0.7s linear infinite 0s;
-moz-animation: roll 0.7s linear infinite 0s;
transition: all 0.5s linear;

}
.app-loader .dismiss{position: relative; color: #fff;
    top: 40vh;
    border-bottom: 1px solid rgba(255,255,255,0);
    padding-bottom: 3px; opacity: 0.7;
    transition: opacity 0.5s ease-in-out;}
.app-loader .dismiss:hover{cursor: pointer;}

@keyframes comeAlive
{
    50% { opacity: 0; } /* Turn off */
  50.001% { opacity: 0; }

  /* Keep off state for a short period */

  52.999% { opacity: 0.1; } /* Turn back on */
  75% { opacity: 1; }
}

@-webkit-keyframes comeAlive
{
    50% { opacity: 0; } /* Turn off */
  50.001% { opacity: 0; }

  /* Keep off state for a short period */

  52.999% { opacity: 0.1; } /* Turn back on */
  75% { opacity: 1; }
}

@-moz-keyframes comeAlive
{
    50% { opacity: 0; } /* Turn off */
  50.001% { opacity: 0; }

  /* Keep off state for a short period */

  52.999% { opacity: 0.1; } /* Turn back on */
  75% { opacity: 1; }
}

@keyframes roll{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-360deg);}
}

@-webkit-keyframes roll{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-360deg);}
}

@-moz-keyframes roll{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-360deg);}
}

/* notification */
.notification{
    position: fixed;
    z-index: 997;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.98);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.notification .notification-inner{
    width: 300px;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    flex-direction:column;
    align-content: space-between;
    justify-content: center;
    text-align:center;
    padding-top: 30px;
    padding-bottom: 30px;
    transform-origin: center;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}   

.notification .button-close{
    background: none;
    border: none;
    border-radius: 40px;
    height: 55px;
    text-align: center;
    width:50%;
    font-size:16px;
    align-self: center;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

.notification.success{
    background: rgb(0, 123, 58) !important;
}

.notification.error{
    background: #0036D3 !important;
}

.notification-type{
    display: flex;
    flex-direction: column;
}

.notification-type img{
    width: 80px;
    height:80px;
    align-self: center;
    margin-bottom: 13px;
}

.notification-type span{
    color: #fff;
    font-family: 'Roboto';
    font-size: 20px;
}

.notification-text{
    padding-left: 15px;
    padding-right: 15px;
    color:#fff;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.notification.error .button-close{
    color: #fff;
}

.notification.error .notification-inner{
    background: none;
}

.notification.success .button-close{
    color: #fff;
}

.notification.success .notification-inner{
    background: none;
}

.notification.success .error-image{display: none;}
.notification.error .success-image{display: none;}

/* intro text image */
.intro-text .img{width: 50px; height: 50px; background-repeat: no-repeat;
background-origin: content-box; background-position: center;
background-image: url('../images/esusuicon4.png');
background-size: 55%;
background-color: rgba(255,255,255,0.14);
border-radius: 50%;}

.intro-text p {
    font-family: 'Roboto';
}

.move-down{margin-top: 42px;}

.ion-page {
    background: transparent !important;
    background-color: #E7E7E7 !important;
    background-image: url('../images/esusuicon5.png') !important;
    background-repeat: no-repeat !important;
    background-position:-7% !important;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-attachment: fixed !important;
    -webkit-background-attachment: fixed !important;
    background-attachment: fixed !important;
}
#header{background:transparent !important;}
.intro-text2 p{
    line-height: 27px !important;
font-size: 17px !important;
}

/* file upload */
.select-file-box{padding: 15px; display:flex; align-content: center; justify-content: center;
color: #0036D3; border: 3px dashed rgba(0, 0, 0, 0.07); background:#fff !important;
border-radius: 20px; margin-top: 5px;}
.kyc-form .input-wrapper{margin-bottom: 5px !important;}
.select-file-box:hover{cursor: pointer;}
.selected-file{
background: #09bf10 !important;
color: #fff !important;
border-color: #09bf10 !important;
}

.input-only{
    height: 44px !important;
}
.input-only > input{color:#000 !important;}
.input-only > input::placeholder{color:#000 !important;}

.picker-wrapper{background: #E7E7E7 !important;}
.datetime-placeholder{padding-left: 0px;
    border-bottom: 1px solid #0036D3; color: #0036D3 !important; opacity: 1;}
ion-datetime{padding-left: 0px; color: #0036d3; border-bottom: 1px solid #0036D3;}
.padd-down{margin-bottom: 40px;}
ion-segment{border-color:#0036D3 !important;}
.segment{margin-top: 30px;}

/* table report */
.table-report{position: relative; height: 129px; overflow: hidden;
    transition: height 0.6s ease-in-out;}
.table-report .toggle-list{
position: absolute;
bottom: 0;
left: 0;
height: 60px;
background: linear-gradient(rgba(255, 255, 255, 0.27), #fff, #fff);
text-align: center;
padding: 30px;
width: 100%;
color: rgba(0,0,0,0.3);
font-size: 14px;
}
.stacked-list .amount{position: absolute;right: 7px; color: #999;}
.add-btn-wrapper{display: flex; width: 100%; height: auto; position: relative;
margin-top: 20px; justify-content: center; align-items: center;}
.add-btn-wrapper .add-btn-round{background: #fff; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
border-radius: 40px; height: 50px; width: 150px; display: flex; justify-content: center;
align-items: center;}
.add-btn-wrapper .add-btn-round img{width: 20px; height: 20px; margin-right: 20px;}
.add-btn-wrapper .add-btn-round span{font-size: 16px; color: #0036D3;}
.stacked-list{position: relative;}

/* profile-image */
.profile-image2 {height: 150px; width: 150px; align-self: center; justify-self: center;
border-radius:50%; background: #fff; box-shadow: inset 0px 0px 10px #e7e7e7;
border: 3px dashed #eee;
margin-bottom: 27px; display: none;}
.profile-image2 img{border-radius:inherit; flex: 1;}

.stat-wrapper{grid-gap: 20px; margin-top: 27px;}
.stat-list{height: 83px; border-radius: 20px; padding-left: 20px; padding-right: 20px;
display: flex; padding-bottom: 6px;}
.stat-list:nth-child(2){background: rgba(255, 255, 255, 0.58);}
.stat-list:first-child{background: #0036D3; color: #fff;}
.stat-list:first-child h1{color: #fff; margin: 0px;}
.stat-list-body{margin-left: 15px;}
.stat-list .arrow{
    flex: 1;
display: flex;
justify-content: flex-end;
align-items: center;
}
.stat-list-body h1{ margin-top: -6px; font-family:'RobotoBold' !important; margin-bottom: 0px;
font-size:21px;}
.stat-list-body p{line-height: 0px;padding: 0;margin: 0; opacity: 1;
    position: relative;
    top: -4px;
    font-size: 14px;}
.stat-list img:first-child{max-width: 100%;
    border: 0;
    height: 44px;
    align-self: center; font-size: 14px;
    margin-top: 0px;
    align-self: center; opacity: 0.9;}
.stat-list-body {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.stat-list .arrow img{height: 20px;}
.load-more-wrapper{display: grid; width: 100%;position: relative; bottom: 30px;
align-items: center; justify-content: center; z-index: 40; left: 0;}
.load-more-btn{display: flex; background: #fff; width: 150px; height: 40px;
border-radius: 40px; box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.12); 
justify-content: center; align-items: center;}
.load-more-btn span{color:#0036D3; margin-right: 11px; font-size: 14px;} 
.load-more-btn img{width: 15px; height: 11px;}

/* filter control */
.size-filter-control{position: fixed; left: 0; top: 0; height: 100%; width: 100%;
background: #11bf13; color:#fff; z-index: 999; border-radius: 0%; transition: all 0.6s ease-in-out;
opacity:0;}
.size-filter-control.btn-only{box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.07);
height: 40px; width: 40px; top:40%; left: 5px; border-radius: 50%; transition: all 0.6s ease-in-out;}
.size-filter-btn{position: absolute; left: 0; top: 0; display: flex;
justify-content: center; align-items: center;
width: 40px;
height: 40px; z-index: 99;}
.size-filter-btn .filter{background-size: 15px; background-position: center;
background-image:url('../icons/funnel.png'); object-fit: cover; background-repeat: no-repeat;
height: 30px;
width: 30px;
opacity: 1; transition: opacity 0.5s ease-in-out;
}
.size-filter-btn .filter.close{background-image: url('../icons/close2.png') !important;}
.filter-box{display: flex; flex-direction:column; color: #fff; width: 150px;
align-items: center; justify-content: space-evenly; display: none; opacity: 0;
transition: opacity 0.6s ease-in-out;}
.filter-box span{font-size:20px; margin-bottom: 15px; }
.filter-box input{ border:none; border-bottom: 1px solid #fff; color: #fff;
font-size: 20px; outline: none; box-shadow:none; text-align:center; margin-bottom:4px;
background: none; height: 40px;}
.filter-box input::placeholder{opacity:1; text-align:center; color: #fff;}
.filter-box button{border-radius:40px; width: 100px; border: 1px solid #fff;
padding: 10px; color: #fff; height: 40px; font-size:16px;
background: none;
margin-top: 23px;}
.size-filter-control.show-box{width: 150% !important; height: 150% !important; top: 0% !important; left: -5px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.size-filter-control.show-box .size-filter-btn{top: 25%;}
.filter-box-wrapper{display:none; width: 100%; height: 100%; position:fixed; top:0;
left:0px; align-content: center; justify-content: center;}

#header > .wrapper:first-child {
    padding-bottom: 11px;
}

/* top button */
.top-button{height: 40px;}
.top-button .fund-btn{display: flex; justify-content: center; align-items: center;
background: #09bf10;}
.top-button .add-btn{background: #0036D3; display: flex; justify-content: center; align-items: center;}
.top-button span{font-size: 16px; color: #fff;}
.top-button img{width: 10px; height: 10px; margin-right: 10px;}


/* other */
.transaction-list-body{background: transparent;}

/* info table */
.info-table-list{margin-top: 50px;}
.info-table{margin-bottom: 25px; border-bottom: 1px solid #e7e7e7;
padding-bottom: 10px;}
.info-table .info-table-title{font-size: 16px; color: #000;}
.info-table .info-table-caption{font-size: 14px; color: #0036d3;
display: block; margin-top: 5px;}
.white-bg{background: #fff !important;}
.white-bg .icon{box-shadow:0px 0px 10px rgba(0, 0, 0, 0.07);}
.white-bg .text-big{color: #0036d3 !important;}


/* reset */
.startendperiod .intro > *{font-size:14px !important;}
.startendperiod .value{font-size: 15px !important;}
.fund-icon{font-size:20px; color: #0036D3 !important;}
.fund-icon b{font-weight: normal !important;}

/* report filter */
.filter-wrapper{background: #fff; margin-top: 20px; margin-bottom: 1px;}
.filter-wrapper .theme-btn{background: #090; color: #fff; display: flex;
align-items: center; justify-content: center;}
.filter-wrapper .theme-btn img{width: 15px; height: 15px;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.faint-input::placeholder{opacity: 0.3 !important;}

.caption-below{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 0px;
    bottom: 0px;
    align-content: flex-end;
}

.caption-below .caption-below-inner{
    flex-basis: 100%;
    display:flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    align-items: flex-start;
    padding-left: 10px; 
    padding-right: 10px;
}

.has-button-below{
    bottom: -50vh !important;
}

.caption-below button{
}

.slide-zoom {
    text-align: left;
    display: block;
    width: 100%;
    padding: 50px;
    color:#fff;
}


#slide1{ 
    background-size: cover;
    background-position: contain;
}

#slide1 img{width: 320px !important; height: 160px !important; }


#slide2{ 
    background: url('../../assets/images/screen.png') no-repeat;
    background-size: cover;
    background-position: top center;
}

#slide3{
    background: url('../../assets/images/screen2.png') no-repeat;
    background-size: cover;
    background-position: top center;
}

#slide4{
    background: url('../../assets/images/screen3.png') no-repeat;
    background-size: cover;
    background-position: top center;
}

#action_btn{display: block; background: #edbe8e; padding: 15px; height: 40px;
width: 100%;  color: #140d14; border-radius: 0px;}

.slide-zoom{
    text-align: center;
display: block;
width: 100%;
padding: 20px;
color: #fff;
}

/* #slide4 .caption-below{bottom: 70px;}

.caption-below{position: absolute; bottom: 120px; text-align: left;
padding-left: 20px; width: 100%;} */

.swiper-home{height: 100%; }
.swiper-home h1, .swiper-home h3{font-size: 2.5rem; text-align: left;}
.swiper-home .swiper-pagination-bullet{opacity: 1;}
.swiper-home p{ font-size: 16px;
    text-align: left;
    line-height: 24px;}
.swiper-home .button-group{width: 100%;}
.swiper-home .swiper-pagination-bullets{
    top: 10px !important;
    bottom: 0px !important;
}
.swiper-home .swiper-wrapper{z-index: 99999;}

#home-slide{display: block;}
#home-view{display: none;}

/* menu icons */
.menu-icon{display: flex; justify-content: center; align-items: flex-start;
grid-row-gap: 3px; padding-top: 5px; flex-direction: column;}
.menu-icon .icon{background-size: 100%; width: 18px; height: 20px; background-position: center;
background-repeat: no-repeat; opacity: 1;}
.menu-icon .home-icon{background-image: url('../icons/home.png');}
.menu-icon .support-icon{background-image: url('../icons/support.png');}
.menu-icon .fund-icon{background-image: url('../icons/wallet.png');}
.menu-icon .menu-icon-text{font-family: 'Roboto'; font-size: 12px;
opacity: 1;}

.extra-big{
font-size: 4.5em !important;
line-height: 44px;
letter-spacing: -2px;
position: relative;
left: -9px;
}
.extra-caption{
    font-size: 22px;
}

html.ios .close-text{display: none !important;}
html.ios .pan-wrapper-inner {
    top: 0px !important;
}
html.ios .header-ios{
    position: relative;
    top: 10px;
}