<ion-content id="content-section">

<!-- Home page -->
<ion-slides pager class="swiper-home">

    <ion-slide id="slide2">
      <ion-grid>

        <div class="caption-below animated slideInLeft">
            <div class="caption-below-inner">
              <h3>Quick and Easy savings</h3>
              <p>We offer a total new way to save, expanding access to savings that traditional banks are unable to serve.</p>

              <section class="button-group">
                  <button ion-button class="btn-full" (click)="start()"><span>get started</span></button>
              </section>
            </div>
        </div>
      </ion-grid>
        
    </ion-slide>


    <ion-slide id="slide3">
        <ion-grid>
  
          <div class="caption-below">
            <div class="caption-below-inner">
            <h3>Affordable<br>Plans</h3>
            <p>We offer cost effective savings plans for low income earners with the best saving Rate in the country.</p>
            <section class="button-group">
                <button ion-button class="btn-full" (click)="start()"><span>get started</span></button>
            </section>
            </div>
          </div>
        </ion-grid>
          
      </ion-slide>

      <ion-slide id="slide4">
          <ion-grid>
    
            <div class="caption-below">
              <div class="caption-below-inner has-button-below">
                <h3>Secure and cost effective</h3>
                <p>You enjoy 100% access to Nigeria top savings platform securely from anywhere in the world.</p>
                
                <section class="button-group">
                    <button ion-button class="btn-full" (click)="start()"><span>get started</span></button>
                </section>
              </div>
            </div>
          </ion-grid>
            
        </ion-slide>

</ion-slides>

</ion-content>