/*
app-register{
    .register{background: #0036D3;}
    .register h1, p{color: #fff;}
    .register .header-title{color: #fff;}
    .register .input-wrapper label{color: #fff !important;}
    .register .input-wrapper input{color: #fff !important;}
    .register .input-wrapper input::placeholder{color: #fff !important;}
}
*/